<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 info">
          <h3 class="list-title">Angular demo App</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" style="padding: 10px 24px;">
          <uib-accordion>
            <uib-accordion-group is-open='true' heading="Basic Features" panel-class="panel panel-primary">
              <div class="col-sm-12 featureContainer">
                <label>ng-show and ng-hide :</label> Click me: <input type="checkbox" ng-model="checked"><br/>
                <div>
                  <label>Show:</label>
                  <span ng-show="checked">
                    I show up when your checkbox is checked.
                  </span>
                </div>
                <div>
                  <label>Hide:</label>
                  <span ng-hide="checked">
                    I hide when your checkbox is checked.
                  </span>
                </div>
                <hr>
                <label>ng-if:</label> Click me: <input type="checkbox" ng-model="checkedif" ng-init="checkedif=true" /><br/>
                <label>Show when checked:</label>
                <span ng-if="checkedif">
                  This is removed when the checkbox is unchecked.
                </span>
                <hr>
                <label>Two way binding</label><br>
                <p>Current a number : <input type="number" ng-model="bid" ng-init="bid =75" /><span style="margin-left:10px;">${{bid}}</span </p>
                <hr>
                <label>Expression</label> <br>
                <span> Expression written inside two curly braces : {{bid | currency:'&#8377;' }}</span><br>
                <span> Expression with ng-bind : <span ng-bind="bid | currency:'&#8364;'"></span></span>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open='true' heading="Filter" panel-class="panel panel-primary">
              <div class="col-sm-12 featureContainer">
                Filter only country on HTML : <input class="form-control" type="text" ng-model="model.countryFilter" placeholder="Search Country..."
                />
                <br>Filter for multiple column (FirstName,SecondName) on controller: <input class="form-control" type="text"
                  ng-model="model.nameFilter" placeholder="Search Name..." />
                <br>Customize filter for address : <input class="form-control" type="text" ng-model="model.addressFilter"
                  placeholder="Search users between 5-15 range..." />
                <br> Angular filter
                <input type="number" style="width:50%" ng-model="model.currencyValue" placeholder="Enter above four digit number">                {{model.currencyValue | userCurrency}}
              </div>
            </uib-accordion-group>
            <uib-accordion-group heading="Form" panel-class="panel panel-primary">
              <div class="col-sm-12 featureContainer">
                <form name="userForm" novalidate class="css-form">
                  <uib-alert ng-show="userForm.$invalid && userForm.$submitted && model.showAlert" type="danger" dismiss-on-timeout="10" close="closeAlert('danger')">Form values can't be empty</uib-alert>
                  <div class="row">
                    <div class="col-sm-6">
                      <label>First Name</label>
                      <input type="text" class="form-control" ng-minlength="2" ng-maxlength="7" ng-model="model.adduserDetail.fName" placeholder="Enter First Name">
                    </div>
                    <div class="col-sm-6">
                      <label>Email</label>
                      <input type="email" class="form-control" ng-model="model.adduserDetail.email" placeholder="name@example.com">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6">
                      <label>Last Name</label>
                      <input type="text" class="form-control" ng-model="model.adduserDetail.lName" placeholder="Enter Last Name">
                    </div>
                    <div class="col-sm-6">
                      <label>Nationality</label>
                      <input type="text" class="form-control" name="nationality" ng-model="model.adduserDetail.nationality" ng-required="true"
                        placeholder="Nationality" uib-typeahead="country for country in countryName | filter:$viewValue | limitTo:8">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6">
                      <label>Date Of birth</label>
                      <input type="date" class="form-control" name="dob" ng-model="model.adduserDetail.dob" ng-required="true" placeholder="YYYY-MM-DD">
                    </div>
                    <div class="col-sm-6">
                      <label>Address</label>
                      <input type="text" class="form-control" ng-model="model.adduserDetail.address" placeholder="Enter address">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6" style="margin:auto 80%;">
                      <button type="submit" class="btn btn-primary" ng-click="addUser()">Add Me</button>
                    </div>
                  </div>
                </form>
              </div>
            </uib-accordion-group>
            <uib-accordion-group heading="Directive" panel-class="panel panel-primary">
              <div class="col-sm-12 featureContainer">
                Predefined directive : <br>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Tooltip directive - </label>
                    <div class="col-sm-7">
                      <button tooltip-placement="top" uib-tooltip="More details - https://angular-ui.github.io/bootstrap/#/tooltip " type="button"
                        class="btn btn-default">Hover me to see changes</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Typehead directive - </label>
                    <div class="col-sm-7">
                      <input type="text" ng-model="selected" uib-typeahead="country for country in countryName | filter:$viewValue | limitTo:8"
                        class="form-control" placeholder="Start typing here...">
                    </div>
                  </div>
                </form>
                <br>Customize directive: <br> Enter a number between 01-23 to get user details <input type="text" ng-model="enteredUserId"
                  style="width:100px;"> <br> Click show button to get profile <button ng-click="getUserProfile(enteredUserId)">Show Profile</button>
                <div id="dynamicUserContent"></div>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
        <div class="col-md-7" id="userListPanel" style="border: 2px solid #676d71;border-radius: 12px;">
          <div style="display:flex;justify-content: space-between;">
            <div>Number</div>
            <div>Name(First Name -Second Name)</div>
            <div>Country</div>
            <div>Address</div>
          </div>
          <div class="row" ng-repeat="user in model.userList | orderBy:'-userId' | filter: {nationality:model.countryFilter} | filter:searchFilter | filter:(model.addressFilter ? searchAddress :'')">
            <div class="col-sm-2">{{user.userId}}</div>
            <div class="col-sm-5">
              <img src="images/flags/{{user.nationality}}.png" />
              <a href="#" ng-click="getUserDetails(user)">{{user.fName}}&nbsp;{{user.lName}}</a>
            </div>
            <div class="col-sm-3">{{user.nationality}}</div>
            <div class="col-sm-2">{{user.address}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>